.page {
    width: 800px;
    height: 100%;
    margin: 0 auto;
    background-color: #dcc8a0;
    font-family: georgia;
    font-size: 16pt;
    color: #141414;
}

.header {
    margin: 0 auto;
}

.text {
    width: 680;
    height: 100%;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: justify;
    line-height: 18pt;
}

table {
    border-width: 1;
    border-spacing: 0px;
    border-collapse: collapse;
}

td {
    padding: 4px;
}